body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f1;
}

.color-white {
  background-color: white;
  width: 50%;
  float: left;
  z-index: 1000;
  border: solid 0.1vh #d8d8d8;
  height: 7vh;
  z-index: 5000;
}

.color-black {
  background-color: #1c1c1e;
  width: 50%;
  float: left;
  height: 7vh;
}

.shadow {
  -webkit-box-shadow: 0px 7px 4px -5px rgba(148, 148, 148, 1);
  -moz-box-shadow: 0px 7px 4px -5px rgba(148, 148, 148, 1);
  box-shadow: 0px 7px 4px -5px rgba(148, 148, 148, 1);
}

a {
  text-decoration: none;
}

.hamburger .line {
  cursor: auto;
  width: 50px;
  height: 5px;
  background-color: #1c1c1e;
  display: block;
  opacity: 0.9;
  margin: 8px;
  margin-left: 5vh;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.three {
  padding-top: 1vh;
  cursor: pointer;
}

.a-nav {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.a-nav:hover {
  color: white;
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  list-style: none;
  margin-bottom: 2%;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

#nav-block {
  width: 35% !important;
  margin-top: 32% !important;
  margin-left: 32%;
  list-style-type: none !important;
  float: left !important;
}

ul .effect:hover,
ul .effect:focus {
  outline: none;
}

.brackets .effect::before,
.brackets .effect::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.3s;
  transition: transform 0.4s, opacity 0.3s;
}

.brackets .effect::before {
  margin-right: 15px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  color: #fff444;
  font-size: 35px;
}

.brackets .effect::after {
  margin-left: 15px;
  content: ']';
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  transform: translateX(25px);
  color: #fff444;
  font-size: 35px;
}

.brackets .effect:hover::before,
.brackets .effect:hover::after,
.brackets .effect:focus::before,
.brackets .effect:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.main-navigation {
  margin-top: 7vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 93vh;
  background-color: #1c1c1e;
  text-align: center;
  z-index: 99999;
  transform: translateX(-100%);
  transition: transform 0.9s ease;
  cursor: url("close.cur");
}

.main-navigation.open {
  transform: translateX(0);
  cursor: default !important;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation ul a {
  display: block;
  padding: 10px 20px;
}

#menu-text {
  float: left;
  margin-left: 46%;
  margin-top: 1.1vh;
  color: black;
  font-size: 2.2vh;
  font-weight: 300;
  letter-spacing: 0.6vh;
  font-family: 'Open Sans', sans-serif;
}

#hamburger-8.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-8.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-8.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.name {
  display: block;
  font-size: 2.2vh;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: white;
  font-weight: 300;
  letter-spacing: 0.8vh;
  font-family: 'Open Sans', sans-serif;
}

.name-align {
  text-align: center;
}

.container-pos {
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 35vh;
  height: 40vh;
  position: absolute;
  margin-left: -7%;
  margin-top: 4%;
}

.underline {
  position: relative;
  display: inline-block;
}

.underline:after {
  content: '';
  display: block;
  width: 106%;
  height: 10px;
  background-color: #fffaa3;
  position: absolute;
  left: -3%;
  bottom: 6px;
  z-index: -1;
}

.hello {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #7c7c7c;
}

.pos-hello {
  margin-top: 10%;
  margin-left: 14%;
  height: 60vh;
}

.name-about {
  font-family: 'Roboto', sans-serif;
  float: left;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 58vh;
}

.every-about {
  margin-top: 10%;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  color: #7c7c7c;
  min-width: 58vh;
}

.pic-about {
  opacity: 0.9;
  margin-top: 15%;
}

@media screen and (max-width:1601px) {
  .list-hover-li {
    width: 210%;
    margin-left: -50%;
    margin-top: 10%;
  }
}

@media screen and (max-width: 1367px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -0.8vh;
  }

  .hamburger .line {
    width: 40px;
    height: 4px;
    margin: 8px;
    margin-left: 2.5vh;
  }

  #nav-block {
    margin-top: 22% !important;
  }
}

@media screen and (max-width: 1280px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -0.6vh;
    margin-left: 1vh;
  }

  .hamburger .line {
    width: 40px;
    height: 4px;
    margin: 8px;
  }

  .pos-hello {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 1025px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger .line {
    width: 40px;
    height: 4px;
    margin: 8px;
  }

  .hamburger {
    margin-top: -0.8vh;
  }

  #nav-block {
    margin-top: 22% !important;
  }
}

@media screen and (max-width: 1440px) {
  .container-pos {
    margin-top: 15%;
  }
}

@media screen and (max-width: 730px) {
  .hamburger {
    margin-top: -1%;
  }

  .a-nav {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }

  .name {
    display: block;
    font-size: 2.5vh;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .color-white {
    background-color: white;
    width: 100%;
    z-index: 1000;
    height: 7vh;
  }

  .color-black {
    background-color: #1c1c1e;
    width: 100%;
    height: 7vh;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.2vh;
  }

  .main-navigation {
    margin-top: 7vh;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .list-hover-li {
    width: 200%;
    margin-left: -50%;
    margin-top: 15%;
  }

  #nav-block {
    margin-top: 25% !important;
    list-style-type: none !important;
    float: left !important;
  }
}

@media screen and (max-width: 999px) {
  .hello {
    font-size: 17px;
  }

  .name-about {
    font-size: 40px;
  }

  .every-about {
    font-size: 17px;
    margin-top: 8%;
    width: 60%;
  }

  .pic-about {
    opacity: 0.9;
    margin-top: 5%;
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 759px) {
  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 35px;
    min-width: 58vh;
  }

  .every-about {
    margin-top: 10%;
    font-size: 18px;
    min-width: 60vh;
  }
}

@media screen and (max-width:605px) {
  .hamburger {
    margin-top: -1%;
  }

  .a-nav {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }

  .name {
    display: block;
    font-size: 2.5vh;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

  .color-white {
    background-color: white;
    width: 100%;
    z-index: 1000;
    height: 7vh;
  }

  .color-black {
    background-color: #1c1c1e;
    width: 100%;
    height: 7vh;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.2vh;
  }

  .main-navigation {
    margin-top: 7vh;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .list-hover-li {
    width: 200%;
    margin-left: -50%;
    margin-top: 15%;
  }

  #nav-block {
    margin-top: 25% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .name-about {
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 58vh;
  }

  .every-about {
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    color: #7c7c7c;
    min-width: 63vh;
  }
}

@media screen and (max-width:550px) {
  .hamburger {
    margin-top: 1%;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.5vh;
  }

  .list-hover-li {
    width: 210%;
    margin-left: -50%;
    margin-top: 10%;
  }

  .a-nav {
    font-size: 25px !important;
  }

  #nav-block {
    margin-top: 40% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 34px;
    min-width: 53vh;
  }

  .every-about {
    margin-top: 10%;
    font-size: 17px;
    min-width: 56vh;
  }
}

@media screen and (max-width:505px) {
  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 30px;
    min-width: 40vh;
  }

  .every-about {
    margin-top: 10%;
    font-size: 16px;
    min-width: 48.5vh;
  }
}

@media screen and (max-width:462px) {
  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 28px;
    min-width: 35vh;
  }

  .every-about {
    margin-top: 10%;
    font-size: 15px;
    min-width: 45vh;
  }
}

@media screen and (max-width: 435px) {
  .hamburger .line {
    cursor: auto;
    width: 45px;
    height: 5px;
    background-color: #1c1c1e;
    display: block;
    opacity: 0.9;
    margin: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .a-nav {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }

  .name {
    display: block;
    font-size: 2.2vh;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: white;
    font-weight: 300;
    letter-spacing: 0.8vh;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3%;
  }

  .color-white {
    background-color: white;
    width: 100%;
    z-index: 1000;
    height: 7vh;
  }

  .color-black {
    background-color: #1c1c1e;
    width: 100%;
    height: 7vh;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.2vh;
  }

  .main-navigation {
    margin-top: 7vh;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .list-hover-li {
    width: 200%;
    margin-left: -50%;
    margin-top: 20%;
  }

  #nav-block {
    margin-top: 55% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 28px;
    min-width: 40vh;
  }

  .every-about {
    margin-top: 7%;
    font-size: 16px;
    min-width: 40vh;
  }
}

@media screen and (max-width:415px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -1%;
    margin-left: 2%;
  }

  .hamburger .line {
    cursor: auto;
    width: 37px;
    height: 4px;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.5vh;
  }

  .list-hover-li {
    width: 210%;
    margin-left: -50%;
    margin-top: 10%;
  }

  .a-nav {
    font-size: 25px !important;
  }

  #nav-block {
    margin-top: 50% !important;
    list-style-type: none !important;
    float: left !important;
  }
}

@media screen and (max-width: 385px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -1.9%;
    margin-left: 2%;
  }

  .hamburger .line {
    cursor: auto;
    width: 37px;
    height: 4px;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.5vh;
  }

  .list-hover-li {
    width: 210%;
    margin-left: -50%;
    margin-top: 10%;
  }

  #nav-block {
    margin-top: 40% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 30px;
    min-width: 30vh;
  }

  .every-about {
    margin-top: 11%;
    font-size: 17px;
    min-width: 100%;
  }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .hamburger {
    margin-left: -3%;
    margin-top: 1%;
  }

  #nav-block {
    margin-top: 60% !important;
    list-style-type: none !important;
    float: left !important;
  }
}

@media screen and (max-width: 361px) {
  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -1%;
  }

  .list-hover-li {
    width: 230%;
    margin-left: -60%;
    margin-top: 10%;
  }

  #nav-block {
    margin-top: 35% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .name {
    display: block;
    font-size: 3vh;
    margin-top: 3%;
  }
}
}

@media screen and (max-width:341px) {
  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 29px;
    min-width: 40vh;
    margin-bottom: 2vh;
  }

  .every-about {
    font-size: 16px;
    min-width: 45vh;
  }
}

@media screen and (max-width:321px) {
  .hamburger {
    margin-top: -2%;
  }

  #hamburger-8.is-active .line:nth-child(1) {
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    transform: translateY(11px);
  }

  .hamburger {
    margin-top: -2%;
  }

  .hamburger .line {
    cursor: auto;
    width: 36px;
    height: 4px;
  }

  #menu-text {
    float: left;
    margin-left: 42%;
    font-size: 2.5vh;
  }

  .list-hover-li {
    width: 210%;
    margin-left: -50%;
    margin-top: 10%;
  }

  .a-nav {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .name {
    display: block;
    font-size: 3vh;
    margin-top: 3%;
  }

  .color-white {
    background-color: white;
    width: 100%;
    z-index: 1000;
    height: 7vh;
  }

  .color-black {
    background-color: #1c1c1e;
    width: 100%;
    height: 7vh;
  }

  .main-navigation {
    margin-top: 7vh;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }

  .list-hover-li {
    width: 240%;
    margin-left: -65%;
    margin-top: 15%;
  }

  #nav-block {
    margin-top: 35% !important;
    list-style-type: none !important;
    float: left !important;
  }

  .hello {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7c7c7c;
  }

  .pos-hello {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
  }

  .name-about {
    font-size: 29px;
    min-width: 40vh;
    margin-bottom: 2vh;
  }

  .every-about {
    font-size: 16px;
    min-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
}