
.icon-search:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-adult:before { content: '\e807'; } /* '' */
.icon-person:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-camera-outline:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-left:before { content: '\e80c'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-rebel:before { content: '\f1d0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */